body {
  font-family: var(--ff);
  background: var(--bodyBg);
  height: 100vh;
  display: grid;
  place-items: center;
}

a {
  font-weight: 700;
  color: $linkColor;
  transition: 0.2s all ease-in-out;
  &:hover {
    color: darken($linkColor, 20%);
  }
}
