.field {
  display: block;
  position: relative;

  &:first-of-type {
    margin-bottom: 23px;
  }
  &__input {
    width: 100%;
    border: 1px solid rgba(3, 1, 76, 0.3);
    border-radius: $borderRadius;
    padding: 24px 24px 24px 72px;
    font-family: var(--ff);
    font-weight: 600;
    font-size: $textFz;

    color: var(--textColor);
    outline: none;

    &.is-password {
      padding-right: 60px;
    }

    &::placeholder {
      color: var(--textColor);
      opacity: 0.6;
    }
  }

  &__icon,
  &__eye {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__icon {
    left: 33px;
  }

  &__eye {
    right: 38px;
    cursor: pointer;
  }
}
